@model Metronic_8.Areas.LOC_Country.Models.LOC_CountryModel

<div class="modal fade " id="countryModal" tabindex="-1" role="dialog" aria-labelledby="countryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="countryModalLabel">Add Country</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="LOC_Country" asp-action="Save">
                    <input type="hidden" asp-for="CountryID" />
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="CountryName">
                            <span>Country Name </span> <span class="text-danger">*</span>
                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="it accepts only unique country name"></i>
                        </label>
                        <!--end::Label-->
                        <input type="text" class="form-control form-control-solid" asp-for="CountryName" placeholder="Enter Country Name" autocomplete="off" />
                        <span class="text-danger" asp-validation-for="CountryName"></span>
                    </div>
                    <!--end::Input group-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
