@{
    ViewData["Title"] = "CityAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Metronic_8.Areas.LOC_City.Models.LOC_CityModel;
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">City</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-controller="Home" asp-action="Index" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a asp-area="LOC_City" asp-controller="LOC_City" asp-action="Index" class="text-muted text-hover-primary">Cities</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">@TempData["Action"]  City</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card">
            <div class="card-body p-5 px-lg-10 py-lg-7">
                <div>
                    <div>

                        <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Save">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="CityID" autocomplete="off" />
                            <div class="row">
                                <!--begin::Input group-->
                                <div class="d-flex flex-column mb-8 fv-row col-lg-6">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="CountryID">
                                        <span>Country Name </span> <span class="text-danger">*</span>
                                    </label>
                                    <!--end::Label-->
                                    <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Select a Country" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID", "CountryName"))" onchange="functionOnStateChange();">
                                        <option value="">Select Country</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="CountryID"></span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="d-flex flex-column mb-8 fv-row col-lg-6">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="StateID">
                                        <span>State Name </span> <span class="text-danger">*</span>
                                    </label>
                                    <!--end::Label-->
                                    <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Select a State" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID", "StateName"))">
                                        <option value="">Select State</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="StateID"></span>
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-8 fv-row ">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2" asp-for="CityName">
                                    <span>City Name </span> <span class="text-danger">*</span>
                                </label>
                                <!--end::Label-->
                                <input type="text" class="form-control form-control-solid" asp-for="CityName" placeholder="Enter City Name" autocomplete="off" />
                                <span class="text-danger" asp-validation-for="CityName"></span>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <div>
                                <button type="submit" class="btn btn-primary" style="margin-right:5px;">
                                    <span class="indicator-label">Submit</span>
                                </button>
                                <a type="submit" class="btn btn-light me-3" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Index">
                                    Back to List
                                </a>
                            </div>
                            <!--end::Actions-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function functionOnStateChange() {
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry","LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result, function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                        },
                        error: function (err) {
                            alert("Error While Running AJAX");
                        }
                    }
                )
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }

        }
    </script>

    }

